body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

IMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  padding-right: 10px;
  padding-left: 10px;
  background-color: gray;
}

figcaption {
  font-size: 14px;
  text-align: center;
  
}

#featured-property > p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#details {
  display: block;
}

div {
  background-color: red;
  text-align: center;
  width: 25%;
  float: left;
}

